.App {
	text-align: center;
}


body {
	background: url('/assets/img/main3.png') no-repeat fixed center;
	/* -webkit-background: cover;
	-moz-background: cover;
	-o-background: cover; */
	background-size: cover;
}

.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }
  
  .content-wrap {
	flex: 1;
  }
  